
{% if clients | length == 0 %}
    <div class="message info">Es wurden noch keine API-Clients erstellt.</div>
{% else %}

    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr data-client="{{ client.getId() }}" data-title="Client bearbeiten" data-modal="{{ controller.getActionUri('ajaxModalEdit', { clientId: client.getId() }) }}" class="{% if highlight == client.getId() %}highlighted{% endif %}">
                    <td>
                        <i class="far fa-clouds icon"></i>{{ client.getTitle() }}
                    </td>
                    <td class="text-end">
                        <a data-bs-toggle="tooltip" data-bs-title="API-Client löschen" data-confirm="Soll dieser API-Client wirklich gelöscht werden?" href="{{ controller.getActionUri('ajaxDelete', { clientId: client.getId() }) }}" class="ajax"><i class="fa-regular fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
