
{% if Clients.isEmpty() %}
    <div class="message info">Es wurden noch keine API-Clients erstellt.</div>
{% else %}

    <table class="table table-row-dashed">
        <thead>
            <tr>
                <th>Titel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for Client in Clients %}
                <tr data-client="{{ Client.getId() }}" data-title="Client bearbeiten" data-modal="{{ controller.getActionUri('ajaxModalEdit', { ClientId: Client.getId() }) }}" class="{% if Highlight == Client.getId() %}highlighted{% endif %}">
                    <td>
                        <i class="far fa-clouds preicon"></i>{{ Client.getTitle() }}
                    </td>
                    <td class="text-end">
                        <a data-bs-toggle="tooltip" data-bs-title="API-Client löschen" data-confirm="Soll dieser API-Client wirklich gelöscht werden?" href="{{ controller.getActionUri('ajaxDelete', { ClientId: Client.getId() }) }}" class="ajax"><i class="fa-regular fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endif %}
