{% extends 'App.html.twig' %}

{% block Content %}

    <div class="heading h1">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h1>
                    API Clients
                    <a class="icon add" data-bs-toggle="tooltip" data-bs-title="Neuen Client erstellen" data-modal href="{{ controller.getActionUri('ajaxModalCompose') }}"><i class="far fa-plus-circle"></i></a>
                </h1>
            </div>
            <div class="col-md-3">
                <div class="gap-2 d-md-flex justify-content-md-end">

                </div>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ controller.getUri('Dashboard', 'index') }}"><i class="far fa-home icon"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ controller.getUri('Company', 'index') }}">Meine Firma</a></li>
            <li class="breadcrumb-item active" aria-current="page">API Clients</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">

            {#
            <div id="clientsReceiver">
                {{ view.partial('Avaro/Controller/Company/Api/Partials/ListClients') | raw }}
            </div>
            #}

        </div>
    </div>

{% endblock %}
