@import 'variables';
@import 'elements';
@import 'base';

#banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  margin: 0;
  padding: 30px 0;

  background: #f2f3f9;

  a.logo {
    display: block;
    padding-left: 10px;

    img {
      max-width: 140px;
      height: auto;
    }
  }

  .menu-col {
    text-align: right;

    a.toggle {
      display: inline-block;
      margin-left: 20px;

      color: #FFF;
      font-size: 32px;
      vertical-align: middle;
    }

    .dropdown {

      .dropdown-menu {
        .dropdown-item {
          i {
            margin-right: 6px;
          }
        }
      }
    }
  }
}

body.offcanvas-visible {
  .menu-wrapper {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: scroll;

    padding-top: 130px;
  }
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.content {

  #inner-banner {
    padding: 20px;

    background: #FFF;
    border-bottom: 1px solid #f1f1f7;

    a {
      text-decoration: none;
    }
  }

  .content-wrapper {
    margin: 0 0 30px 0;

    .heading.h1 {
      margin: 0 -12px 20px -12px;
      padding: 10px 20px;

      background: #FFF;
    }

    @media (min-width: 768px) {

    }
  }
}



#footer {
  z-index: 700;

  padding: 10px 0;

  text-align: center;

  color: #CCC;
  font-size: 14px;
  line-height: 24px;

  a {
    color: #CCC;
    text-decoration: none;
  }

  nav {
    a {
      padding: 0 10px;
    }
  }
}
