$fontBaseSize: 14px;
$fontBaseColor: #252F4A;
$fontBaseColorDark: #181C32;
$fontBaseColorLight: #B5B5C3;

$fontHeadingH1Color: $fontBaseColorDark;
$fontHeadingH2Color: $fontHeadingH1Color;
$fontHeadingH3Color: $fontHeadingH2Color;

$colorSpot1: #444f50;
$colorSpot2: #0059a3;
$colorSpot3: #62b935;
$colorSpot4: #d9dbdd;

$colorText: #263871;
$colorBackground: #1e1e2d;
$colorBackgroundLight: #f4f7f9;

$colorLight: $colorBackground;
$colorPrimary: #009ef7;
$colorSecondary: $colorSpot1;
$colorSuccess: #0dcd94;
$colorInfo: #0c85f5;
$colorWarning: #fbc518;
$colorDanger: #f7284a;

/* Menu */
$menuBackground: $colorBackground;
$menuColorHeading: #646477;
$menuColorItem: #9D9DA6;

/* Standalone Full Image Mode */
$standaloneFullImageLogoWidth: 280px;
