.spot1 {
  color: $colorSpot1;
}

.spot2 {
  color: $colorSpot2;
}

.bg-1 {
  background: $colorCompany1 !important;
}

.bg-2 {
  background: $colorCompany2 !important;
}

.bg-3 {
  background: $colorCompany3 !important;
}

.bg-4 {
  background: $colorCompany4 !important;
}

.bg-5 {
  background: $colorCompany5 !important;
}

.bg-6 {
  background: $colorCompany6 !important;
}

.bg-7 {
  background: $colorCompany7 !important;
}

.bg-8 {
  background: $colorCompany8 !important;
}

.bg-9 {
  background: $colorCompany9 !important;
}