.message {
  margin: 20px 0;
  padding: 10px;

  border: 1px dashed #CCC;
  border-radius: 4px;

  text-align: center;

  color: #CCC;

  &.error {
    border-color: $colorDanger;
    color: $colorDanger;
  }

  &.info {
    border-color: $colorSpot1;
    color: $colorSpot1;
  }

  &.success {
    border-color: $colorSuccess;
    color: $colorSuccess;
  }

  &.warning {
    border-color: $colorWarning;
    color:  $colorWarning;

    a {
      color: darken($colorWarning, 10%);
    }
  }

  &.danger {
    border-color: $colorDanger;
    color:  $colorDanger;

    a {
      color: darken($colorDanger, 10%);
    }
  }

  p {
    margin-bottom: 5px;
  }

  p:last-of-type {
    margin-bottom: 0px;
  }

  a {
    text-decoration: underline;
  }
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  .message:first-child {
    margin-top: 0;
  }
}

.card-body {

  .generic-receiver:first-child {
    .message:first-child {
      margin-top: 0;
    }
  }

  .generic-receiver:last-child {
    .message:last-child {
      margin-bottom: 0;
    }
  }

  .message:last-child {
    margin-bottom: 0;
  }

  .message:first-child {
    margin-top: 0;
  }
}