nav {
  ul.pagination {

    li.page-item {
      &.active {
        a.page-link {
          background: $colorSpot1;
          border-color: $colorSpot1;

          color: #FFF;
        }
      }

      a.page-link {
        color: $colorSpot1;
      }
    }
  }
}
