@import '../variables';

table.table {

  tbody {
    tr {

      &.highlighted {

        td {
          background: $colorSpot4;
          color: #FFF;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

          a {
            color: #FFF;
          }
        }
      }

      td {

        color: $fontBaseColor;

        a.icon-prefix {
          position: relative;
          display: inline-block;
          padding-left: 25px;

          i {
            position: absolute;
            top: 5px;
            left: 0px;

          }
        }
        &.message {
          border: none;
          text-align: center;
        }

        ul:first-child {
          margin-top: 0;
        }

        ul:last-child {
          margin-bottom: 0;
        }

        &.level-2 {
          padding-left: 30px !important;
        }

        &.level-3 {
          padding-left: 60px !important;
        }

        &.level-4 {
          padding-left: 90px !important;
        }

        &.level-5 {
          padding-left: 120px !important;
        }

        &.level-6 {
          padding-left: 150px !important;
        }

        &.level-7 {
          padding-left: 180px !important;
        }

        &.level-8 {
          padding-left: 210px !important;
        }

        &.level-9 {
          padding-left: 240px !important;
        }

        &.level-10 {
          padding-left: 270px !important;
        }

        &.level-11 {
          padding-left: 300px !important;
        }

        &.level-12 {
          padding-left: 330px !important;
        }
      }
    }
  }

  &.borderless {
    tbody {
      tr {
        th, td {
          border: none;
        }
      }
    }
  }

  &.table-row-dashed {
    tbody {
      tr {
        td {
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom-style: dashed;
        }

        &.highlighted {
          td {
            border-top: 1px solid #FFF;
            border-color: transparent;
          }
        }

        &[data-href] {
          &:hover {
            border-top: 1px solid #FFF;
            border-color: transparent;
          }
        }
      }
    }
  }
}


table.table {

  &.small-text {
    td, th {
      font-size: 14px;
    }
  }

  tbody {
    tr {

      th, td.title {
        padding-left: 0;
        font-weight: 700;
        color: $fontBaseColorLight;
      }

      &[data-href] {
        td {
          cursor: pointer;

          a {
            transition: none;
          }
        }

        &:hover {
          td {
            background: $colorSpot1;
            color: #FFF;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

            a {
              color: #FFF;
            }
          }
        }
      }
    }
  }

  &.vertical-align-middle {
    tbody {
      td {
        vertical-align: middle;
      }
    }
  }
}

table.stripped {
  width: 100%;

  tbody {
    tr:nth-child(odd) {
      td {
        background: $colorBackgroundLight;
      }
    }

    tr {
      td {
        padding: 25px 30px;
      }
    }
  }

  &.rounded {
    tbody {
      tr {
        td:first-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }

        td:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}